body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #141414;
  color: white;
}

a {
  color: #e50914;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
